html {
    font-family: "Rockwell Extra Bold";
}

body{
    background-color: #85cff7;
}

div{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

h1{
    border : 2px solid #ffecdc;
    border-radius: 20px;
    background-color: peachpuff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 500px;
    text-align: center;
}

h2{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 400px;
    text-align: center;
}

#prems{
    background-color: lightcoral;
    border : 2px solid #f4a6a6;
}

#sec{
    background-color: aquamarine;
    border : 2px solid #a5ffe0;
}

#third{
    background-color: darksalmon;
    border : 2px solid #efb5a1;
}

.hid{
    display: none;
}
.backgroundImage{
    background-image: url("../img/R.jfif");
}